<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="autoload.php">
    <testsuites>
        <testsuite name="Handler Tests">
            <directory suffix="Test.php">./src/TestHandler</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
         	<directory suffix=".php">../app</directory>
         	<directory suffix=".php">../Model/</directory>
         	<exclude>
		    	<directory>../Model/Traits</directory>
		    </exclude>
        </whitelist>
    </filter>
    <logging>
      <log type="coverage-html" target="./report"/>
    </logging>
</phpunit>